.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: #0f172a;
    overflow: visible;
}